[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvim"]
	path = nvim
	url = git@github.com:camfrey/NvFrey.git
[submodule "dotbot-brew"]
	path = plugins/dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule "dotbot-apt"]
	path = plugins/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
[submodule "plugins/dotbot-rust"]
	path = plugins/dotbot-rust
	url = https://github.com/alexcormier/dotbot-rust
[submodule "plugins/dotbot-paru"]
	path = plugins/dotbot-paru
	url = https://github.com/michaelray27/dotbot-paru.git
[submodule "plugins/dotbot-scoop"]
	path = plugins/dotbot-scoop
	url = https://github.com/JamJar00/dotbot-scoop.git
