typeset -U path PATH

[[ -d "/opt/homebrew/opt/rustup/bin" ]] && path=("/opt/homebrew/opt/rustup/bin" $path)
[[ -d "$HOME/.cargo/bin" ]] && path=("$HOME/.cargo/bin" $path)
[[ -d "$HOME/.local/bin" ]] && path=("$HOME/.local/bin" $path)
[[ -d "$HOME/go/bin" ]] && path=("$HOME/go/bin" $path)

if [[ -d "$HOME/.config/nvm" ]]; then
  export NVM_DIR="$HOME/.config/nvm"
  [[ -s "$NVM_DIR/nvm.sh" ]] && source "$NVM_DIR/nvm.sh"
  [[ -s "$NVM_DIR/bash_completion" ]] && source "$NVM_DIR/bash_completion"
fi

if [[ -d "$HOME/.local/share/pnpm" ]]; then
  export PNPM_HOME="$HOME/.local/share/pnpm"
  path=("$PNPM_HOME" $path)
  path=("$PNPM_HOME/bin" $path)
fi

export EDITOR=vim
export VISUAL=hx

{{- if eq .chezmoi.username "freycd1" }}
export NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
export TABNINE_HOST="https://tabnine.jhuapl.edu"
{{- end }}
